<HTML><HEAD>
<STYLE type=text/css>
        body {
            font-family: Calibri;
        }

        p {
            margin: 0;
        }

        .mapping {
            background-color: #D3D4D7;
            color: black;
            padding: 1px;
        }
    </STYLE>
<!-- Instruct the web browser control to use IE 6 to render the page. -->
<META content=IE=6 http-equiv=X-UA-Compatible></HEAD>
<BODY>
<P><FONT color=#3366ff>Bonjour&nbsp;</FONT></P>
<P><FONT color=#3366ff>Session&nbsp; :&nbsp; </FONT><SPAN class=mapping contentEditable=false><FONT color=#3366ff>{{Session}}</FONT></SPAN></P>
<P><FONT color=#3366ff>Folder Robot :&nbsp; <SPAN class=mapping contentEditable=false>{{FolderRobot}}</SPAN></FONT></P>
<P><FONT color=#3366ff>Name&nbsp;Projet : <SPAN class=mapping contentEditable=false>{{NameProjet}}</SPAN></FONT></P><FONT color=#3366ff>
<P><FONT color=#3366ff>Name Processus : <SPAN class=mapping contentEditable=false>{{NameProcessus}}</SPAN></FONT></P></FONT>
<P>Nombre de Rouges : <SPAN class=mapping contentEditable=false>{{Rouges}}</SPAN></P>
<P>Nombre de Oranges: <SPAN class=mapping contentEditable=false>{{Oranges}}</SPAN></P>
<P>Nombre de Verts:&nbsp; <SPAN class=mapping contentEditable=false>{{Verts}}</SPAN></P>
<P><SPAN class=mapping contentEditable=false>{{Table}}</SPAN></P></BODY></HTML>